[Desktop Entry]
X-SuSE-translate=true
Name=Logout
Icon=gnome-logout
Exec=gnome-session-save --kill
Terminal=false
Type=Application
StartupNotify=true
Encoding=UTF-8
Categories=GNOME;Application;
OnlyShowIn=GNOME;
